{% extends 'base.html' %} {% load staticfiles %} {% block title %}
<title>Elie Mugenzi | Blog</title> {% endblock %} {% block content %}

<section id="home" class="m--top">
  <div class="intro">
    <h2 class="primary__title">Welcome to my Blog!</h2>
    <div class="paragraph">Hope you enjoy everything I post here...</div>
    <div class="intro__video">
          <a href="https://youtu.be/yyth5UbJ7JY" class="button__primary" data-fancybox>Video Introduction</a>
    </div>
    {% if names %}
    <div class="user">
      <h4 class="secondary">
        Signed in as <span class="user__name dark">{{ names }}</span>
      </h4>
      <a href="/auth/logout/" class="button__primary">
        <i class="fa fa-sign-out"></i> &nbsp; <span>Log Out</span>
      </a>
    </div>
    {% endif %}
  </div>
</section>
<section id="featured">
  <div class="container">
    <h2 class="primary">Recent Posts</h2>
    <div class="underline"></div>
    <div class="posts">
      {% if posts %} {% for post in posts|slice:"4" %}
      <div class="posts__item">
        <h4 class="posts__title secondary__title">{{ post.title }}</h4>
        <div class="posts__category">
          <span class="posts__category--text">{{ post.category }}</span>
        </div>
        <div class="posts__description">
          <img src="{{post.photo.url}}" alt="" />
          <div class="paragraph">
            <p>{{ post.description }}</p>
            <a href="/details/?slug={{post.slug}}" class="link--with-icon">
              <i class="fa fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div><span class="secondary">No Posts Yet!</span></div>
      {% endif %}
    </div>
    <a href="/posts/" class="button__primary">View All</a>
  </div>
</section>
{% endblock %}
